body {
    color: #000;
    background: #ababab;
    font-family: 'Palatino', 'Palatino Linotype', 'Georgia', serif;
}

h1 {
    color: #222;
}

h2, h3, h4, h5, h6 {
    color: #333;
}

table {
    border: solid #666 1px;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}

th {
    background: #555;
    color: #f2bc00;
    padding: 5px;
}

th.subheader {
    background: #777;
    color: #f2bc00;
}

div#legend {
    font-size: 80%;
    float: right;
}

div#scores {
    float: left;
}

div.chart {
    width: 500px;
    height: 300px;
}

.activerow {
    background: #f8d763;
}

.summary {
    background: #777;
    font-weight: bold;
    color: #f2bc00;
}

.summary td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.currency {
    text-align: right;
}

.footer {
    padding-top: 1em;
    text-align: center;
    clear: both;
}

.copyright {
    font-size: 70%;
    color: #777;
}

.row {
    cursor: pointer;
}

.detail {
    padding-top: 3px;
    padding-left: 2em;
    font-size: 90%;
    color: #444;
}

.detail span {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.navigation {
    clear: both;
    display: table;
    content: "";
    max-width: 700px;
}

.tab {
    float: left;
    margin: 2px;
    padding: 2px 0px;
    white-space: nowrap;
    list-style: none outside none;
}

.tab a {
    color: #f2bc00;
    background: #666;
    padding: 2px 5px;
    text-decoration: none;
}

.tab.activetab a {
    background: #444;
}

.tab a:hover {
    background: #444;
}
