body {
    color: #000;
    background: #ababab;
    font-family: 'Palatino', 'Palatino Linotype', 'Georgia', serif;
}

#meta {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: #222;
}

h2, h3, h4, h5, h6 {
    color: #333;
    clear: both;
}

table {
    border: none;
}

table thead {
    font-weight: bold;
}

table thead td {
    border-bottom: 1px solid #777;
    padding-bottom: 6px;
}

table.information {
    border: none;
    padding-left: 1em;
}

td {
    padding: 2px 1em;
}

td.infoname {
    font-weight: bold;
    padding-right: 1.5em;
}

div#legend {
    font-size: 80%;
    float: right;
}

div#scores {
    float: left;
}

div.chart {
    width: 500px;
    height: 300px;
}

.activerow {
    background: #f8d763;
}

.summary {
    font-weight: bold;
}

.summary td {
    padding-top: 6px;
    border-top: 1px solid #777;
}

.currency {
    text-align: right;
}

.footer {
    padding-top: 1em;
    text-align: center;
    clear: both;
}

.copyright {
    font-size: 70%;
    color: #777;
}

.row {
    cursor: pointer;
}

.detail {
    padding-top: 3px;
    padding-left: 2em;
    font-size: 90%;
    color: #444;
}

.detail span {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.navigation {
    clear: both;
    display: table;
    padding: 0;
}

.tab {
    float: left;
    margin: 2px;
    padding: 2px 0px;
    white-space: nowrap;
    list-style: none outside none;
}

.tab a {
    color: #f2bc00;
    background: #666;
    padding: 2px 5px;
    text-decoration: none;
}

.tab.activetab a {
    background: #444;
}

.tab a:hover {
    background: #444;
}

.highscore {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}
