body {
    color: #000;
    font-family: 'Palatino', 'Palatino Linotype', 'Georgia', serif;
}

h1 {
    color: #06003d;
}

h2, h3, h4, h5, h6 {
    color: #1608a9;
}

table {
    border: solid #302c5c 1px;
}

td {
    padding-left: 4px;
    padding-right: 4px;
}

th {
    background: #06003d;
    color: #ffd973;
    padding: 5px;
}

th.subheader {
    background: #1608a9;
    color: #ffd973;
}

div#legend {
    font-size: 80%;
    float: right;
}

div#scores {
    float: left;
}

div#chart {
    width: 500px;
    height: 300px;
}

.activerow {
    background: #f8d763;
}

.summary {
    background: #1608a9;
    font-weight: bold;
    color: #ffd973;
}

.summary td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.currency {
    text-align: right;
}

.footer {
    padding-top: 1em;
    text-align: center;
    clear: both;
}

.copyright {
    font-size: 70%;
    color: #84743c;
}

.row {
    cursor: pointer;
}

.detail {
    padding-top: 3px;
    padding-left: 2em;
    font-size: 90%;
    color: #06003d;
}

.detail span {
    text-decoration: underline;
}

.hidden {
    display: none;
}

